syntax="proto3";

{{- $c:=ne .Protopkg ""}}
{{- if $c}}
package {{.Protopkg}};
{{- end}}
option go_package = "/api";

import "google/protobuf/empty.proto";

service {{.GoTableName}}Service { 
    rpc Create{{.GoTableName}}({{.GoTableName}})returns({{.GoTableName}});
    rpc Delete{{.GoTableName}}({{.GoTableName}}{{.PrimaryKey.GoColumnName}})returns(google.protobuf.Empty);
    rpc Update{{.GoTableName}}(Update{{.GoTableName}}Req)returns({{.GoTableName}});
    rpc Get{{.GoTableName}}({{.GoTableName}}{{.PrimaryKey.GoColumnName}})returns({{.GoTableName}});
    rpc List{{.GoTableName}}s(List{{.GoTableName}}sReq)returns(List{{.GoTableName}}sResp);
}

message {{.GoTableName}} {

{{- range $index,$field := .Fields }}
    //{{$field.ColumnComment}}
    {{$field.ProtoType }}	{{ $field.ColumnName }} = {{Incr $index}} ; // @gotags: json:"{{$field.ColumnName}}"
{{- end}}  
}

message {{.GoTableName}}{{.PrimaryKey.GoColumnName}}{
    {{.PrimaryKey.ProtoType}} {{.PrimaryKey.ColumnName}} = 1 ; // @gotags: form:"id"
}

message Update{{.GoTableName}}Req{

    {{.GoTableName}} {{.TableName}} = 1 ;

    repeated string update_mask  = 2 ;
}


message List{{.GoTableName}}sReq{
    // number of page
    int64 page = 1 ;// @gotags: form:"page"
    // default 20
    int64 page_size = 2 ;// @gotags: form:"page_size"
    // order by  for example :  [-id]  -: DESC 
    string order_by = 3 ; // @gotags: form:"order_by"
    //  {{.PrimaryKey.ColumnName}} > ?
    int64 {{.PrimaryKey.ColumnName}}_gt = 4; // @gotags: form:"{{.PrimaryKey.ColumnName}}_gt"
    // filter xxx like %?%
    // string xxx_contains = 5;
    // yyy > ?
    // int64 yyy_gt = 6;

}

message List{{.GoTableName}}sResp{

    repeated {{.GoTableName}} {{.TableName}}s = 1 ; // @gotags: json:"{{.TableName}}s"

    int64 total_count = 2 ; // @gotags: json:"total_count"
    
    int64 page_count = 3 ; // @gotags: json:"page_count"
}
