syntax="proto3";

{{- $c:=ne .Protopkg ""}}
{{- if $c}}
package {{.Protopkg}};
{{- end}}
option go_package = "/api";
{{ $tableName := .GoTableName}}
import "google/protobuf/empty.proto";

service {{.GoTableName}}Service { 
    rpc Create{{.GoTableName}}({{.GoTableName}})returns({{.GoTableName}});
    rpc Delete{{.GoTableName}}({{.GoTableName}}{{.PrimaryKey.GoColumnName}})returns(google.protobuf.Empty);
    rpc Update{{.GoTableName}}(Update{{.GoTableName}}Req)returns({{.GoTableName}});
    rpc Get{{.GoTableName}}({{.GoTableName}}{{.PrimaryKey.GoColumnName}})returns({{.GoTableName}});
    rpc List{{.GoTableName}}s(List{{.GoTableName}}sReq)returns(List{{.GoTableName}}sResp);
}

message {{.GoTableName}} {

{{- range $index,$field := .Fields }}
    //{{$field.ColumnComment}}
    {{$field.ProtoType }}	{{ $field.ColumnName }} = {{Incr $index}} ; // @gotags: json:"{{$field.ColumnName}}"
{{- end}}  
}

enum {{.GoTableName}}Field{
    {{$tableName}}_unknow = 0;
  {{- range $index,$field := .Fields }}
    {{$tableName}}_{{ $field.ColumnName }} = {{Incr $index}};
{{- end}}   
}

message {{.GoTableName}}{{.PrimaryKey.GoColumnName}}{
    {{.PrimaryKey.ProtoType}} {{.PrimaryKey.ColumnName}} = 1 ; // @gotags: form:"id"
}

message Update{{.GoTableName}}Req{

    {{.GoTableName}} {{.TableName}} = 1 ;

    repeated string update_mask  = 2 ;
}


message List{{.GoTableName}}sReq{
    // number of page
    int32 page = 1 ;// @gotags: form:"page"
    // default 20
    int32 page_size = 2 ;// @gotags: form:"page_size"
    // order by field
    {{.GoTableName}}Field order_by_field = 3 ; // @gotags: form:"order_by_field"
    // ASC DESC
    bool order_by_desc = 4; //@gotags: form:"order_by_desc"
     // filter
    repeated {{.GoTableName}}Filter filters = 5 ; //@gotags: form:"filters"
}

message {{.GoTableName}}Filter{
     {{.GoTableName}}Field field = 1;
    string op = 2;
    string value = 3;
}

message List{{.GoTableName}}sResp{

    repeated {{.GoTableName}} {{.TableName}}s = 1 ; // @gotags: json:"{{.TableName}}s"

    int32 total_count = 2 ; // @gotags: json:"total_count"
    
    int32 page_count = 3 ; // @gotags: json:"page_count"
}
